<section class="container centered" style="height: 100%;">
  <div class="about">
    <section class="container centered" style="height: 100px; width: 600px;">
      <div class="about">
        
        <h2 style="text-align: center;">การเอาชีวิตรอดจะจบลงในอีก</h2>
      </div>
      
    </section>
    <h3 class="neon3" id="demo" align="center" style="font-size: 20px; margin-top: 0px;"></h3> 
      
      <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Apr 30, 2021 17:00:00").getTime();
      
      // Update the count down every 1 second
      var x = setInterval(function() {
      
        // Get today's date and time
        var now = new Date().getTime();
          
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
          
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
          
        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + " วัน " + hours + " ชั่วโมง "
        + minutes + " นาที " + seconds + " วินาที ";
          
        // If the count down is over, write some text 
        if (distance < 0) {
          clearInterval(x);
          document.getElementById("demo").innerHTML = "EXPIRED";
        }
      }, 1000);
      </script>
    {{ with .Site.Params.avatarurl }}
      <div class="avatar" style="margin-bottom: 30px; "><img src="{{ . | absURL }}" alt="avatar" style="border: 5px solid #323232;"></div>
    {{ end }}
    <h1 class="neon">{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    <h2 style="margin-top: 50px;">{{ .Site.Params.sub }}</h2>
    {{ with .Site.Params.social }} 
    <ul class="social-list">
      {{ range sort . "weight"}}
        <li class="social-item">
          <a href="{{ .url }}" aria-label="{{ .name }}" {{ if .rel }}rel="{{ .rel }}"{{ end }}>
            {{ if .icon }}
              <i class="{{ .icon }} " aria-hidden="true"></i>
            {{ else }}
              {{ .name }}
            {{ end }}
          </a>
        </li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</section>


