<div style="  display: flex; justify-content: space-between; margin-top: 1.5em; margin-bottom: 2.5em; font-size: 1.2em; bottom: 10px;">
      {{- with .PrevInSection }}
      <a class="prev-post" href="{{ .Permalink }}" >
        <!-- <span class="post-nav-label">ก่อนหน้า&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="30" height="35"
            viewBox="0 0 24 10" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" class="feather feather-arrow-right" style="padding-top: 15px;">
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline> -->
          <span class="post-nav-label"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" viewBox="0 0 24 10"
              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-arrow-left" style="padding-top: 15px;">
              <line x1="19" y1="12" x2="5" y2="12"></line>
              <polyline points="12 19 5 12 12 5"></polyline>
              </svg>วันก่อนหน้า&nbsp;</span><br><span>{{ .Title }}</span>
      </a>
      {{- end }}
      {{- with .NextInSection }}
      <a class="next-post" href="{{ .Permalink }}" style="margin-left: 700px;">
        <!-- <span class="post-nav-label"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="35" viewBox="0 0 24 10"
            fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-arrow-left" style="padding-top: 15px;">
            <line x1="19" y1="12" x2="5" y2="12"></line>
            <polyline points="12 19 5 12 12 5"></polyline> -->
            <span class="post-nav-label">&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;วันต่อไป<svg xmlns="http://www.w3.org/2000/svg" width="30" height="35"
              viewBox="0 0 24 10" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" class="feather feather-arrow-right" style="padding-top: 15px;">
              <line x1="5" y1="12" x2="19" y2="12"></line>
              <polyline points="12 5 19 12 12 19"></polyline>
              </svg></span><br><span>{{ .Title }}</span>
      </a>
      {{- end }}
      
    </div>